main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}


main .blur{
    position: relative;
    height: 100%;
    width: 95%;
    filter: blur(5px) brightness(96%);
}


.Nombre_titulo{
    position: absolute;
    top:2px;
    left: 35px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 7rem;
    



}

main .grid_login{
    position: absolute;
}