*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body{
    color:  #1f2937;
    height: 100vh; /* ver si conviene*/
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}



.container{
    width: min(75rem, 92%);
    margin: 0 auto; 

}

